/* push the page content to the right when you open the side navigation */
.appMain {
	transition: margin-left 0.5s;
	position: relative;
	z-index: 1;
}

.sideBarActive {
	margin-left: 250px;
}

.quizList-container,
.quizStart-container,
.quizCreate-container {
	margin: 50px 50px 0px 50px;
}
