.quizStart-container {
	min-height: 50vh;
}

#item-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#item-container .button {
	align-self: flex-end;
}

#item-container .header {
	margin-bottom: 0px;
}

input[type='checkbox'] {
	display: none;
}
input[type='checkbox']:not(:disabled) ~ label {
	cursor: pointer;
}

input[type='checkbox']:disabled ~ label {
	color: #bcc2bf;
	border-color: #bcc2bf;
	box-shadow: none;
	cursor: not-allowed;
}

label {
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
	-moz-user-select: none; /* mozilla browsers */
	-khtml-user-select: none; /* webkit (konqueror) browsers */
	-ms-user-select: none; /* IE10+ */
}

.question-header {
	margin-top: 10px !important;
}

.option-container {
	transition: all 50ms ease;
}

.option-container:active {
	transform: translateY(5px);
}

.option-container label {
	height: 100%;
	display: block;
	background: white;
	border: 2px solid #e5e5e5;
	padding: 1rem;
	text-align: center;
	margin: 5px 0;
	position: relative;
}

input[type='checkbox']:checked + label {
	background: #20df80;
	color: white;
}

input[type='checkbox']#control_05:checked + label {
	background: red;
	border-color: red;
}
